table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 37px;

    /*text-align: left;*/
}

tbody {
    height: 130px;
    overflow-y: auto;
}


tbody td, thead th {
    width: 19.5%;
    float: left;
}

.titleprev{
    margin-bottom: 30px;
}

.footer{
    margin-top: 60px;
}

.image-wrapper img {
    width: 280px;
    height: 280px;
    display: block;
    margin: auto;
}

.text-wrapper h2{
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin-top: 80px; 
}

.text-wrapper p{
    text-align: center;
    vertical-align: middle;
}   

.text-wrapper{
    height: 300px;
    line-height: 100px;
    text-align: left;
    vertical-align: middle;
    margin: auto;
}